apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 997334016513.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:d875de8df56afbfda83117361f886e1a2fe07f21
          ports:
            - containerPort: 5000
