apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 621120073967.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:427289ca4394230dea8276b4f5542b711b6c4560
          ports:
            - containerPort: 5000
