apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 621120073967.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:ef34a0e3459c4f8c41a0b84364242ddd2bca1dd3
          ports:
            - containerPort: 5000
